#textdomain wesnoth-pk-westerners

[unit_type]
    id=Renault_R35
    name= _ "Renault R35"
    race=Vehicle
    gender=male
    image="units/France/Renault/BFWAMR-35.png"
    hp_bar_scalling=0.1
	xp_bar_scalling=0.1
    {MAGENTA_IS_THE_TEAM_COLOR}
    #ellipse="misc/ellipse-nozoc"
    hitpoints=370
    movement_type=mctread
    movement=4
	vision=8
    experience=168
    level=2
	#level=7
	upkeep=3
    alignment=lawful
    advances_to=Renault_R35_Vet
    die_sound={SOUND_LIST:VEHICLE_DIE}
    cost=250
    usage=AntiInfantry
    description= _ "With 43mm of armour and only 3 upkeep, the Renault R35 is designed for suppressing infantry"+{SPECIAL_NOTES}+{SPECIAL_NOTES_CONCEALMENT}+{SPECIAL_NOTES_BACKSTAB}




[event]
	name=die
	first_time_only=no
	[filter]
		type="Renault_R35"
	[/filter]
	{VARIABLE death_exp 56}
	{VARIABLE_OP second_unit.experience add $death_exp}
	[unstore_unit]
		variable=unit
		find_vacant=no
		text=$death_exp
		blue=255
	[/unstore_unit]
	[unstore_unit]
		variable=second_unit
		find_vacant=no
	[/unstore_unit]
	{CLEAR_VARIABLE death_exp}
[/event]	
	
    [resistance]
	Bullet=30
	Sniper=70
	Cannon=100
	Bomb=100
	Grenade=70
	Rocket=100
	Missile=100
	Shrapnel=30
	Flak=20
	AntiNaval=0
	AntiSub=0
    [/resistance]
	
	[defense]
			deep_water=100		
			reef=100
			shallow_water=100	
			swamp_water=100		
			sand=90			
			frozen=90		
			hills=80		
			mountains=80
			village=100		
			castle=100		
			forest=100		
			flat=90
			impassable=100		
			cave=100			
			fungus=90		
			unwalkable=100
	[/defense]

    [abilities]
		{ABILITY_CONCEALMENT}
		[regenerate]
			value=11
		[/regenerate]	
		[skirmisher]
			id=skirmisher
			name= _ "skirmisher"
			female_name= _ "female^skirmisher"
			#description= _ "Skirmisher:
	#This unit is capable of moving past infantry, but not vehicles"
			affect_self=yes
			[filter]
				[filter_adjacent]
					[not]
						race=Vehicle
					[/not]
					is_enemy=yes
				[/filter_adjacent]
			[/filter]
		[/skirmisher]	
    [/abilities]

    {DEFENSE_ANIM "units/France/Renault/BFWAMR-35.png" "units/France/Renault/BFWAMR-35.png" {SOUND_LIST:RICOCHET_METAL} }

    [attack]
        name=Close
        description=_"Machine Gun"
        icon=attacks/blank.png
        type=Bullet
        range=close
        damage=10
        number=3
		movement_used=8
	[specials]

	[/specials]
    [/attack]

    [attack]
        name=Medium
        description=_"Machine Gun"
        icon=attacks/blank.png
        type=Bullet
        range=medium
        damage=10
        number=6
		movement_used=7
	[specials]

	[/specials]
    [/attack]
	[attack]
        name=Far
        description=_"37mm very short AP"
        icon=attacks/blank.png
        type=Cannon
        range=far
        damage=13
        number=3
	[specials]
		{WEAPON_SPECIAL_BACKSTAB}
	[/specials]
    [/attack]
	
	 [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle1.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle2.png"
        [/frame]
		[frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle1.png"
        [/frame]
    [/idle_anim]
	
	[death]
        start_time=0
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death1.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death2.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death3.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death4.png"
        [/frame]
    [/death]

     [attack_anim]
        [filter_attack]
            name=Medium
        [/filter_attack]
        start_time=-400
		[missile_frame]
            begin=-150
            end=0
            image=
            image_diagonal=
        [/missile_frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss1.png"
        [/frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="MG4.ogg"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="MG4.ogg"
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/France/Renault/BFWAMR-35schuss4.png"
        [/frame]
        [frame]
            duration=100
            image="units/France/Renault/BFWAMR-35.png"
        [/frame]
    [/attack_anim]
	
     [attack_anim]
        [filter_attack]
            name=Far
        [/filter_attack]
        start_time=-400
		[missile_frame]
            begin=-150
            end=0
            image=
            image_diagonal=
        [/missile_frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss1.png"
        [/frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="littlegun.ogg"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="littlegun.ogg"
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/France/Renault/BFWAMR-35schuss4.png"
        [/frame]
        [frame]
            duration=100
            image="units/France/Renault/BFWAMR-35.png"
        [/frame]
    [/attack_anim]

[/unit_type]
















[unit_type]
    id=Renault_R35_Vet
    name= _ "Renault R35 Veteran"
    race=Vehicle
    gender=male
    image="units/France/Renault/BFWAMR-35.png"
    hp_bar_scalling=0.1
	xp_bar_scalling=0.1
    {MAGENTA_IS_THE_TEAM_COLOR}
    #ellipse="misc/ellipse-nozoc"
    hitpoints=370
    movement_type=mctread
    movement=4
	vision=8
    experience=264
    level=4
	#level=11
	upkeep=3
    alignment=lawful
    advances_to=Renault_R35_Elite
    die_sound={SOUND_LIST:VEHICLE_DIE}
    cost=500
    usage=AntiInfantry
    description= _ "With 43mm of armour and only 3 upkeep, the Renault R35 is designed for suppressing infantry"+{SPECIAL_NOTES}+{SPECIAL_NOTES_CONCEALMENT}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_FIRSTSTRIKE}




[event]
	name=die
	first_time_only=no
	[filter]
		type="Renault_R35_Vet"
	[/filter]
	{VARIABLE death_exp 84}
	{VARIABLE_OP second_unit.experience add $death_exp}
	[unstore_unit]
		variable=unit
		find_vacant=no
		text=$death_exp
		blue=255
	[/unstore_unit]
	[unstore_unit]
		variable=second_unit
		find_vacant=no
	[/unstore_unit]
	{CLEAR_VARIABLE death_exp}
[/event]		
	
    [resistance]
	Bullet=30
	Sniper=70
	Cannon=100
	Bomb=100
	Grenade=70
	Rocket=100
	Missile=100
	Shrapnel=30
	Flak=20
	AntiNaval=0
	AntiSub=0
    [/resistance]
	
	[defense]
			deep_water=100		
			reef=100
			shallow_water=100	
			swamp_water=100		
			sand=90			
			frozen=90		
			hills=80		
			mountains=80
			village=100		
			castle=100		
			forest=100		
			flat=90
			impassable=100		
			cave=100			
			fungus=90		
			unwalkable=100
	[/defense]

    [abilities]
		{ABILITY_CONCEALMENT}
		[regenerate]
			value=11
		[/regenerate]		
		[skirmisher]
			id=skirmisher
			name= _ "skirmisher"
			female_name= _ "female^skirmisher"
			#description= _ "Skirmisher:
	#This unit is capable of moving past infantry, but not vehicles"
			affect_self=yes
			[filter]
				[filter_adjacent]
					[not]
						race=Vehicle
					[/not]
					is_enemy=yes
				[/filter_adjacent]
			[/filter]
		[/skirmisher]
    [/abilities]

    {DEFENSE_ANIM "units/France/Renault/BFWAMR-35.png" "units/France/Renault/BFWAMR-35.png" {SOUND_LIST:RICOCHET_METAL} }

    [attack]
        name=Close
        description=_"Machine Gun"
        icon=attacks/blank.png
        type=Bullet
        range=close
        damage=10
        number=4
		movement_used=8
	[specials]

	[/specials]
    [/attack]

    [attack]
        name=Medium
        description=_"Machine Gun"
        icon=attacks/blank.png
        type=Bullet
        range=medium
        damage=10
        number=9
		movement_used=7
	[specials]

	[/specials]
    [/attack]
	[attack]
        name=Far
        description=_"37mm very short AP"
        icon=attacks/blank.png
        type=Cannon
        range=far
        damage=13
        number=4
	[specials]
		{WEAPON_SPECIAL_BACKSTAB}
		{WEAPON_SPECIAL_SLOW}
		{WEAPON_SPECIAL_FIRSTSTRIKE}
	[/specials]
    [/attack]
	
	 [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle1.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle2.png"
        [/frame]
		[frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle1.png"
        [/frame]
    [/idle_anim]
	
	[death]
        start_time=0
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death1.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death2.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death3.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death4.png"
        [/frame]
    [/death]

     [attack_anim]
        [filter_attack]
            name=Medium
        [/filter_attack]
        start_time=-400
		[missile_frame]
            begin=-150
            end=0
            image=
            image_diagonal=
        [/missile_frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss1.png"
        [/frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="MG4.ogg"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="MG4.ogg"
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/France/Renault/BFWAMR-35schuss4.png"
        [/frame]
        [frame]
            duration=100
            image="units/France/Renault/BFWAMR-35.png"
        [/frame]
    [/attack_anim]
	
     [attack_anim]
        [filter_attack]
            name=Far
        [/filter_attack]
        start_time=-400
		[missile_frame]
            begin=-150
            end=0
            image=
            image_diagonal=
        [/missile_frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss1.png"
        [/frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="littlegun.ogg"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="littlegun.ogg"
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/France/Renault/BFWAMR-35schuss4.png"
        [/frame]
        [frame]
            duration=100
            image="units/France/Renault/BFWAMR-35.png"
        [/frame]
    [/attack_anim]

[/unit_type]





















[unit_type]
    id=Renault_R35_Elite
    name= _ "Renault R35 Elite"
    race=Vehicle
    gender=male
    image="units/France/Renault/BFWAMR-35.png"
    hp_bar_scalling=0.1
	xp_bar_scalling=0.1
    {MAGENTA_IS_THE_TEAM_COLOR}
    #ellipse="misc/ellipse-nozoc"
    hitpoints=655
    movement_type=mctread
    movement=3
	vision=8
    experience=408
    level=6
	#level=17
	upkeep=3
    alignment=lawful
    advances_to=Renault_R35_Elite
    die_sound={SOUND_LIST:VEHICLE_DIE}
    cost=1000
    usage=AntiInfantry
    description= _ "Elite tanks are granted the rare composite rounds which have an average of 29% more penetration. They have Appliqué armour increasing mm by 33% and reducing movement by 5kmph. With only 3 upkeep, the Renault R35 is designed for suppressing infantry"+{SPECIAL_NOTES}+{SPECIAL_NOTES_CONCEALMENT}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_FIRSTSTRIKE}




[event]
	name=die
	first_time_only=no
	[filter]
		type="Renault_R35_Elite"
	[/filter]
	{VARIABLE death_exp 136}
	{VARIABLE_OP second_unit.experience add $death_exp}
	[unstore_unit]
		variable=unit
		find_vacant=no
		text=$death_exp
		blue=255
	[/unstore_unit]
	[unstore_unit]
		variable=second_unit
		find_vacant=no
	[/unstore_unit]
	{CLEAR_VARIABLE death_exp}
[/event]		
	
    [resistance]
	Bullet=30
	Sniper=70
	Cannon=100
	Bomb=100
	Grenade=70
	Rocket=100
	Missile=100
	Shrapnel=30
	Flak=20
	AntiNaval=0
	AntiSub=0
    [/resistance]
	
	[defense]
			deep_water=100		
			reef=100
			shallow_water=100	
			swamp_water=100		
			sand=90			
			frozen=90		
			hills=80		
			mountains=80
			village=100		
			castle=100		
			forest=100		
			flat=90
			impassable=100		
			cave=100			
			fungus=90		
			unwalkable=100
	[/defense]

    [abilities]
		{ABILITY_CONCEALMENT}
		[regenerate]
			value=11
		[/regenerate]		
		[skirmisher]
			id=skirmisher
			name= _ "skirmisher"
			female_name= _ "female^skirmisher"
			#description= _ "Skirmisher:
	#This unit is capable of moving past infantry, but not vehicles"
			affect_self=yes
			[filter]
				[filter_adjacent]
					[not]
						race=Vehicle
					[/not]
					is_enemy=yes
				[/filter_adjacent]
			[/filter]
		[/skirmisher]
    [/abilities]

    {DEFENSE_ANIM "units/France/Renault/BFWAMR-35.png" "units/France/Renault/BFWAMR-35.png" {SOUND_LIST:RICOCHET_METAL} }

    [attack]
        name=Close
        description=_"Machine Gun"
        icon=attacks/blank.png
        type=Bullet
        range=close
        damage=10
        number=8
		movement_used=8
	[specials]

	[/specials]
    [/attack]

    [attack]
        name=Medium
        description=_"Machine Gun"
        icon=attacks/blank.png
        type=Bullet
        range=medium
        damage=10
        number=18
		movement_used=7
	[specials]

	[/specials]
    [/attack]
	[attack]
        name=Far
        description=_"37mm short APCR"
        icon=attacks/blank.png
        type=Cannon
        range=far
        damage=22
        number=4
	[specials]
		{WEAPON_SPECIAL_BACKSTAB}
		{WEAPON_SPECIAL_SLOW}
		{WEAPON_SPECIAL_FIRSTSTRIKE}
	[/specials]
    [/attack]
	
	 [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle1.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle2.png"
        [/frame]
		[frame]
            duration=120
            image="units/France/Renault/BFWAMR-35idle1.png"
        [/frame]
    [/idle_anim]
	
	[death]
        start_time=0
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death1.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death2.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death3.png"
        [/frame]
        [frame]
            duration=120
            image="units/France/Renault/BFWAMR-35death4.png"
        [/frame]
    [/death]

     [attack_anim]
        [filter_attack]
            name=Medium
        [/filter_attack]
        start_time=-400
		[missile_frame]
            begin=-150
            end=0
            image=
            image_diagonal=
        [/missile_frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss1.png"
        [/frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="MG4.ogg"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="MG4.ogg"
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/France/Renault/BFWAMR-35schuss4.png"
        [/frame]
        [frame]
            duration=100
            image="units/France/Renault/BFWAMR-35.png"
        [/frame]
    [/attack_anim]
	
     [attack_anim]
        [filter_attack]
            name=Far
        [/filter_attack]
        start_time=-400
		[missile_frame]
            begin=-150
            end=0
            image=
            image_diagonal=
        [/missile_frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss1.png"
        [/frame]
        [frame]
            duration=175
            image="units/France/Renault/BFWAMR-35schuss2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="littlegun.ogg"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/France/Renault/BFWAMR-35schuss3.png"
                sound="littlegun.ogg"
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/France/Renault/BFWAMR-35schuss4.png"
        [/frame]
        [frame]
            duration=100
            image="units/France/Renault/BFWAMR-35.png"
        [/frame]
    [/attack_anim]

[/unit_type]
